In [1]:
import pandas as pd

In [3]:
df_csv=pd.read_csv("D:\Mechaine_Learning_Journey\Quality of life data.csv")
print(df_csv)

         id  gender occupation_type  avg_work_hours_per_day  \
0     10001  Female         Teacher                    6.60
1     10002    Male   Office Worker                    9.65
2     10003  Female         Manager                   13.77
3     10004  Female      Freelancer                   10.94
4     10005    Male        Engineer                    9.81
...     ...     ...             ...                     ...
9995  19996  Female      Technician                    8.39
9996  19997    Male   Retail Worker                    9.58
9997  19998  Female      Consultant                   10.02
9998  19999  Female        Engineer                    7.97
9999  20000  Female      Freelancer                    7.73

      avg_rest_hours_per_day  avg_sleep_hours_per_day  \
0                      10.92                     5.38
1                       7.65                     6.31
2                       1.00                     8.02
3                       5.18                     7.59
4                       5.11                     7.38
...                      ...                      ...
9995                    8.12                     6.91
9996                    6.40                     6.93
9997                    4.75                     7.55
9998                    8.07                     7.78
9999                    7.66                     7.61

      avg_exercise_hours_per_day  age_at_death
0                           1.10            88
1                           0.39            76
2                           1.21            78
3                           0.29            74
4                           1.70            78
...                          ...           ...
9995                        0.58            89
9996                        1.09            90
9997                        1.68            89
9998                        0.17            87
9999                        1.00            87

[10000 rows x 8 columns]

In [5]:
print(df_csv.info())#column,data type,misssing values
print(df_csv.head())#numeric summery
print(df_csv.head(5))#first 5 row

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          10000 non-null  int64
 1   gender                      10000 non-null  object
 2   occupation_type             10000 non-null  object
 3   avg_work_hours_per_day      10000 non-null  float64
 4   avg_rest_hours_per_day      10000 non-null  float64
 5   avg_sleep_hours_per_day     10000 non-null  float64
 6   avg_exercise_hours_per_day  10000 non-null  float64
 7   age_at_death                10000 non-null  int64
dtypes: float64(4), int64(2), object(2)
memory usage: 625.1+ KB
None
      id  gender occupation_type  avg_work_hours_per_day  \
0  10001  Female         Teacher                    6.60
1  10002    Male   Office Worker                    9.65
2  10003  Female         Manager                   13.77
3  10004  Female      Freelancer                   10.94
4  10005    Male        Engineer                    9.81

   avg_rest_hours_per_day  avg_sleep_hours_per_day  \
0                   10.92                     5.38
1                    7.65                     6.31
2                    1.00                     8.02
3                    5.18                     7.59
4                    5.11                     7.38

   avg_exercise_hours_per_day  age_at_death
0                        1.10            88
1                        0.39            76
2                        1.21            78
3                        0.29            74
4                        1.70            78
      id  gender occupation_type  avg_work_hours_per_day  \
0  10001  Female         Teacher                    6.60
1  10002    Male   Office Worker                    9.65
2  10003  Female         Manager                   13.77
3  10004  Female      Freelancer                   10.94
4  10005    Male        Engineer                    9.81

   avg_rest_hours_per_day  avg_sleep_hours_per_day  \
0                   10.92                     5.38
1                    7.65                     6.31
2                    1.00                     8.02
3                    5.18                     7.59
4                    5.11                     7.38

   avg_exercise_hours_per_day  age_at_death
0                        1.10            88
1                        0.39            76
2                        1.21            78
3                        0.29            74
4                        1.70            78