In [2]:
import pandas as pd

In [4]:
df=pd.read_json("D:\Mechaine_Learning_Journey\pokemon.json")

In [5]:
print(df.info())#data type and missing value

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    800 non-null    object
 1   type    800 non-null    object
 2   total   800 non-null    int64
 3   hp      800 non-null    int64
 4   attack  800 non-null    int64
dtypes: int64(3), object(2)
memory usage: 31.4+ KB
None

In [6]:
print(df.describe())#numeric summary

           total          hp      attack
count  800.00000  800.000000  800.000000
mean   435.10250   69.258750   79.001250
std    119.96304   25.534669   32.457366
min    180.00000    1.000000    5.000000
25%    330.00000   50.000000   55.000000
50%    450.00000   65.000000   75.000000
75%    515.00000   80.000000  100.000000
max    780.00000  255.000000  190.000000

In [7]:
print(df.isnull().sum())#missing count

name      0
type      0
total     0
hp        0
attack    0
dtype: int64