In [1]:
import pandas as pd

In [2]:
df=pd.read_json("D:\Mechaine_Learning_Journey\pokemon.json")

In [11]:
print("Print the json file\n",df)

Print the json file
                       name              type  total  hp  attack
0                Bulbasaur   [Grass, Poison]    318  45      49
1                  Ivysaur   [Grass, Poison]    405  60      62
2                 Venusaur   [Grass, Poison]    525  80      82
3    VenusaurMega Venusaur   [Grass, Poison]    625  80     100
4               Charmander            [Fire]    309  39      52
..                     ...               ...    ...  ..     ...
795                Diancie     [Rock, Fairy]    600  50     100
796    DiancieMega Diancie     [Rock, Fairy]    700  50     160
797    HoopaHoopa Confined  [Psychic, Ghost]    600  80     110
798     HoopaHoopa Unbound   [Psychic, Dark]    680  80     160
799              Volcanion     [Fire, Water]    600  80     110

[800 rows x 5 columns]

In [13]:
print("First 5 row default\n",df.head())

First 5 row default
                     name             type  total  hp  attack
0              Bulbasaur  [Grass, Poison]    318  45      49
1                Ivysaur  [Grass, Poison]    405  60      62
2               Venusaur  [Grass, Poison]    525  80      82
3  VenusaurMega Venusaur  [Grass, Poison]    625  80     100
4             Charmander           [Fire]    309  39      52

In [16]:
print(df.shape)#row and column size

(800, 5)

In [17]:
print(df.info)#show the some information

<bound method DataFrame.info of                       name              type  total  hp  attack
0                Bulbasaur   [Grass, Poison]    318  45      49
1                  Ivysaur   [Grass, Poison]    405  60      62
2                 Venusaur   [Grass, Poison]    525  80      82
3    VenusaurMega Venusaur   [Grass, Poison]    625  80     100
4               Charmander            [Fire]    309  39      52
..                     ...               ...    ...  ..     ...
795                Diancie     [Rock, Fairy]    600  50     100
796    DiancieMega Diancie     [Rock, Fairy]    700  50     160
797    HoopaHoopa Confined  [Psychic, Ghost]    600  80     110
798     HoopaHoopa Unbound   [Psychic, Dark]    680  80     160
799              Volcanion     [Fire, Water]    600  80     110

[800 rows x 5 columns]>

In [18]:
print(df.isnull().sum())#just check the missing value

name      0
type      0
total     0
hp        0
attack    0
dtype: int64

In [24]:
df['type']=df['type'].apply(tuple)
df.duplicated().sum()

np.int64(0)

In [25]:
df.drop_duplicates()

,name,type,total,hp,attack,tkype
0,Bulbasaur,"(Grass, Poison)",318,45,49,"(Grass, Poison)"
1,Ivysaur,"(Grass, Poison)",405,60,62,"(Grass, Poison)"
2,Venusaur,"(Grass, Poison)",525,80,82,"(Grass, Poison)"
3,VenusaurMega Venusaur,"(Grass, Poison)",625,80,100,"(Grass, Poison)"
4,Charmander,"(Fire,)",309,39,52,"(Fire,)"
...,...,...,...,...,...,...
795,Diancie,"(Rock, Fairy)",600,50,100,"(Rock, Fairy)"
796,DiancieMega Diancie,"(Rock, Fairy)",700,50,160,"(Rock, Fairy)"
797,HoopaHoopa Confined,"(Psychic, Ghost)",600,80,110,"(Psychic, Ghost)"
798,HoopaHoopa Unbound,"(Psychic, Dark)",680,80,160,"(Psychic, Dark)"
799,Volcanion,"(Fire, Water)",600,80,110,"(Fire, Water)"

In [26]:
df.describe()

           total          hp      attack
count  800.00000  800.000000  800.000000
mean   435.10250   69.258750   79.001250
std    119.96304   25.534669   32.457366
min    180.00000    1.000000    5.000000
25%    330.00000   50.000000   55.000000
50%    450.00000   65.000000   75.000000
75%    515.00000   80.000000  100.000000
max    780.00000  255.000000  190.000000