In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df=pd.read_csv(r"D:\Mechaine_Learning_Journey\Quality of life data.csv")

In [4]:
df.head()

,id,gender,occupation_type,avg_work_hours_per_day,avg_rest_hours_per_day,avg_sleep_hours_per_day,avg_exercise_hours_per_day,age_at_death
0,10001,Female,Teacher,6.60,10.92,5.38,1.10,88
1,10002,Male,Office Worker,9.65,7.65,6.31,0.39,76
2,10003,Female,Manager,13.77,1.00,8.02,1.21,78
3,10004,Female,Freelancer,10.94,5.18,7.59,0.29,74
4,10005,Male,Engineer,9.81,5.11,7.38,1.70,78

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          10000 non-null  int64
 1   gender                      10000 non-null  object
 2   occupation_type             10000 non-null  object
 3   avg_work_hours_per_day      10000 non-null  float64
 4   avg_rest_hours_per_day      10000 non-null  float64
 5   avg_sleep_hours_per_day     10000 non-null  float64
 6   avg_exercise_hours_per_day  10000 non-null  float64
 7   age_at_death                10000 non-null  int64
dtypes: float64(4), int64(2), object(2)
memory usage: 625.1+ KB

In [6]:
df.describe()

,id,avg_work_hours_per_day,avg_rest_hours_per_day,avg_sleep_hours_per_day,avg_exercise_hours_per_day,age_at_death
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000
mean,15000.50000,9.211857,5.964582,7.364192,1.459726,79.85060
std,2886.89568,2.903739,3.152097,2.214386,0.954428,12.02562
min,10001.00000,0.010000,0.000000,0.000000,0.000000,25.00000
25%,12500.75000,7.740000,3.890000,6.310000,0.650000,74.00000
50%,15000.50000,8.960000,5.830000,7.390000,1.440000,81.00000
75%,17500.25000,10.440000,7.670000,8.470000,2.250000,88.00000
max,20000.00000,23.970000,23.930000,19.980000,5.930000,100.00000

In [7]:
df.tail()

,id,gender,occupation_type,avg_work_hours_per_day,avg_rest_hours_per_day,avg_sleep_hours_per_day,avg_exercise_hours_per_day,age_at_death
9995,19996,Female,Technician,8.39,8.12,6.91,0.58,89
9996,19997,Male,Retail Worker,9.58,6.40,6.93,1.09,90
9997,19998,Female,Consultant,10.02,4.75,7.55,1.68,89
9998,19999,Female,Engineer,7.97,8.07,7.78,0.17,87
9999,20000,Female,Freelancer,7.73,7.66,7.61,1.00,87

In [23]:
df.set_index('occupation_type', inplace=True)

In [22]:
print(df.columns)

Index(['occupation_type', 'avg_work_hours_per_day', 'avg_rest_hours_per_day',
       'avg_sleep_hours_per_day', 'avg_exercise_hours_per_day',
       'age_at_death'],
      dtype='object')

In [24]:
df.loc[10001]

KeyError: 10001

In [25]:
df.columns = df.columns.str.strip()  # remove leading/trailing spaces
print(df.columns)

Index(['avg_work_hours_per_day', 'avg_rest_hours_per_day',
       'avg_sleep_hours_per_day', 'avg_exercise_hours_per_day',
       'age_at_death'],
      dtype='object')